<h1>Complet your cook order</h1>
<%=simple_form_for(@booking) do |f| %>
 <div class="form-group">
  <%= f.input :date %>
  <%= f.submit %>
<% end %>

 <div class="btn btn-light"><%=link_to "pay", booking_path(booking) %></div> 