<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/df7jnfptw/image/upload/v1592401547/jeune-mignon-couple-souriant-cuisiner-ensemble-cuisine-maison-jeunes-preparent-salade-dans-bonne-cuisine_168991-12_bzxvlx.jpg);">
  <div class="container">
    <h1><strong>Cook-me</strong></h1>
    <p>Restaurant at home.</p>
    <%= link_to "Offer your plate", "../offers", class: "btn btn-flat" %>
    <%= link_to "choose your meal", "../categories", class: "btn btn-flat" %>
  </div>
</div>

