<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lesbonheursdesophie.net/wp-content/uploads/2018/02/cuisine-pro.jpg);">
  <div class="container">
    <h1><strong>Cook-me</strong></h1>
    <p>Restaurant at home.</p>
    <%= link_to "Offer your plate", "../offers", class: "btn btn-ghost" %>
    <%= link_to "choose your meal", "../categories", class: "btn btn-ghost" %>
  </div>
</div>

