<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://thumbs.dreamstime.com/b/le-jeune-cuisinier-professionnel-pr%C3%A9parant-la-salade-%C3%A0-maison-129973971.jpg);">
  <div class="container">
    <h1><strong>Cook-me</strong></h1>
    <p>Restaurant at home.</p>
    <%= link_to "Offer your plate", "../offers", class: "btn btn-flat" %>
    <%= link_to "choose your meal", "../categories", class: "btn btn-flat" %>
  </div>
</div>

