<div class="container">
  <%= link_to 'Create one', new_offer_path, class: "btn-flat" %>
  <ul>

  <% @offers.each do |offer| %>
    <li><%= link_to offer.title, offer_path(offer) %></li>
  <% end %>
  </ul>
  <%= link_to 'Back to categories', categories_path, class: 'btn-flat' %>
</div>

<div class="container" text-align: center>
<h1><strong>Coming soon</strong></h1>
</div>
<h1>

OUBLIE PAS IL NY A PLUS LE DOSSIER JS PLUGINS AVEC LE INIT MAPBOX REFAIS LE DEMAIN POUR LA MAP
</h1>
