<div class="container">
  <%= link_to 'Create one', new_offer_path, class: "btn-flat" %>
  <ul>

  <% @offers.each do |offer| %>
    <li><%= link_to offer.title, offer_path(offer) %></li>
  <% end %>
  </ul>
</div>
