<div class="container">
  <ul>
    <li><%= @offer.title%></li>
    <li> <%= @offer.description %></li>
    <li><%= @offer.price %></li>
  </ul>
  <a href="/offers" class="btn btn-ghost">Back</a>
</div>
