.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#map {
  height: 100vh;
  top: 0;
  right: 0;
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 10px;
  position: sticky;
}
